.container-main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
button {
  margin-top: 5px;
}

.error {
  color: rgb(223, 78, 78);
}

.success {
  color: rgb(83, 151, 83);
}